<div class="container">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-3"><h2><b>マイページ</b></h2></div>
    <div class="col-md-8"></div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h4 class="mt-4">プロフィール</h4>
      <h5 class="mt-4">メールアドレス</h5>
      <div class="mypage-profile-field">
      <%= @user.email%>
      </div>
      <h5 class="mt-2">ニックネーム</h5>
      <div class="mypage-profile-field">
      <%= @user.nickname %><br>
      </div>
      <%= link_to "プロフィールを編集", edit_user_path(@user.id), class:"btn btn-primary mt-4" %>
    </div>

    <div class="col-md-4"></div>

    <div class="col-md-4">
      <h4>フォロー一覧</h4>
      <% @follows.each do |follow| %>
        <% follow_user = User.find(follow.follow).nickname %>
        <%= link_to follow_user, user_path(follow) %>
      <% end %>
    </div>
  </div>

</div>