/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

header {
  border-bottom: solid black 1px;
  margin-bottom: 30px;
}

.admins-sign_up-title {
  margin-top: 30px;
}

.admins-sign_up-table td {
  border: none;
}

.admins-sign_up-table td:nth-child(even) {
  width: 55%;
}

.admins-sign_up_field {
  width: 100%;
}

.admin-games-index .head {
  margin-bottom: 10px;
}

.admin-games-index-tags {
  border: solid black 1px;
  margin-top: 10px;
  padding: 5px;
}

.admin-games-new td {
  border: none;
}

.admin-games-new-choices {
  height: 10px;
}